<div class="card">
    <div>
        <img src="{{book.image_link}}" class="card-img-top" alt="{{book.title}}">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.description}}</p>
        <a href="/book-reservation?book_id={{book.id}}" class="btn btn-primary">Reserve</a>
    </div>
</div>